<!DOCTYPE html>
<html lang="en" ng-app="iconit">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICONIT - Search icon frameworks</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          
          <h1 class="page-header">ICONIT <small>Searching icon frameworks</small></h1>

          <div ng-controller="SearchController">
            <p class="text-muted">Selected: {{asyncSelected | json}}</p>
            <input type="text" ng-model="asyncSelected" placeholder="Enter Search Term" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control input-lg">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          </div>
          
          <hr />
          
          <div ng-controller="BrowseController">
            <i class="fa fa-spin fa-spinner" ng-hide="owners"></i>
            <div class="btn-group" ng-show="owners" ng-animate="animate">
              <label class="btn btn-primary" ng-model="owner.selected" ng-repeat="owner in owners | orderBy:name"  btn-checkbox>{{ owner.name }}</label>
            </div>
          </div>
          
          
        </div>  <!-- .col-sm-12 -->       
      </div>  <!-- .row -->
    </div>  <!-- .container -->
    

    <script src="assets/js/app.js"></script>
    
  </body>
</html>