<!DOCTYPE html>
<html lang="en" ng-app="iconit">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICONIT - Search icon frameworks</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          
          <h1 class="page-header">ICONIT <small>Searching icon frameworks</small></h1>

          <div ng-controller="SearchController">
            <p class="text-muted">Selected: {{asyncSelected | json}}</p>
            <input type="text" ng-model="asyncSelected" placeholder="Tell me thy bidding my master..." typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control input-lg">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          </div>
          
          <hr />
          
          <div ng-controller="BrowseController">
            
            <p ng-hide="owners">
              <i class="fa fa-spin fa-spinner"></i>
            </p>
            
            <div class="btn-group" ng-show="owners">
              <label class="btn btn-primary" ng-model="owner.selected" ng-repeat="owner in owners | orderBy:name"  btn-checkbox>{{ owner.name }}</label>
            </div>
            
            <button type="button" class="btn btn-success"><i class="fa fa-plus-circle"></i></button>
            
            <div ng-repeat="owner in owners | orderBy:name" ng-show="owner.selected">
              <h2><a ng-href="{{ owner.url }}" target="_blank">{{ owner.name }}</a></h2>
              <ul class="list-unstyled">
                <li ng-repeat="icon in icons | filter:owner._id">
                  {{ icon.name }}: <i ng-class="owner.prefix + icon.class"></i>
                </li>
              </ul>
            </div>
            
          </div>
          
        </div>  <!-- .col-sm-12 -->       
      </div>  <!-- .row -->
    </div>  <!-- .container -->
    

    <script src="assets/js/app.js"></script>
    
  </body>
</html>